

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    padding: 30px;
    width: 350px;
    background-color: rgb(195, 131, 238);
}